@charset "utf-8";

*{
    box-sizing: border-box;    
}

body{
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5rem;
    /* font-weight: bold; */
    color: #e7e7e7;
    background-color: #000;
}

a{
   text-decoration: none; 
   color: inherit; 
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

/* 다중 컬럼 영역 */ 
.container{}
section{}
section .inner{
   width: 1200px;
   margin: auto;
   margin-top: 50px;
}

.inner h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}


section .inner .about-me{
    background-color: #343434;
    padding: 25px;
    column-count: 3;
    column-gap: 50px;
    column-rule: 1px dashed #999999;
    margin: 20px 0;
    /* 컬럼 사이에서 선을 그리는 태그 */

}

section .inner .about-me h2{
    column-span: all; 
    /* 컬럼을 무시하고, 전체너비 차지 */
    position: relative;
    z-index: 1;
}

section .inner .about-me h2:before{
   content: '';
   position: absolute;
   background-color: #ff00cc;
   width: 190px;
   height: 30px;
   z-index: -1;
   transform: translateY(10px);

}

section .inner .about-me img{
    width: 100%;
}

@media(max-width:600px)
{
    section .inner{
        width: 100%;
    }
    section .inner h1{
        font-size: 2rem;
    }
    
    section .inner .about-me{
        column-count: 1;
    }

}

@media(min-width:768px) and (max-width:1024px){
    section .inner{
        width: 100%;
    }

    section .inner h1{
        font-size: 3rem;
    }

    section .inner .about-me{
        column-count: 2;
    }

}